<div class="slider-content">
    <div class="centered">
        <h1 class="header-heading" appHighlight="" defaultColor="violet" >Welcome To My Blog</h1>
        <h4 class="header-more-heading">LITTLE KNOWN WAYS TO DESIGN BETER</h4>
    </div>
    <div class="header-link">
        <a class="header-link-item" href="javascript:void(0)">GET STARTED</a>
        <a class="header-link-item" href="javascript:void(0)">PURCHASE NOW</a>
    </div>
</div>
<div class="carousel-div">
    <app-header-carousel></app-header-carousel>
</div>
<app-blogs></app-blogs>