<section class="read-more">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="read-more-details">Name: Yash Maniar</p>
                <p class="read-more-details">Contact: 9876543210</p>
                <p class="read-more-details">Email id: maniaryash21@gmail.com</p>
                <p class="read-more-details">Address: 568 East Grapes Lane, Las Vegas, Alaska</p>
            </div>
            	<img src="../../assets/images/profile.jpg" alt="profile picture" class="profile-image">
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</section>
