.read-more{
    padding: 50px 0px;
    background-color: aliceblue;
}
 
.profile-image{
    border-radius: 50%;
    width: 30%;
    margin: auto;
}

.read-more-details{
    padding: 20px;
    font-weight: 800;
    font-size: 18px;
}
