<section class="blogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <img src="../../assets/images/nature.jpg" class="blog-image" alt="nature">
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <iframe class="blog-video" src="https://www.youtube.com/embed/jz3HUq90Vn8">
                    </iframe>
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <img src="../../assets/images/nature.jpg" class="blog-image" alt="nature">
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <iframe class="blog-video" src="https://www.youtube.com/embed/h7MYJghRWt0">
                    </iframe>
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <img src="../../assets/images/nature.jpg" class="blog-image" alt="nature">
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <iframe class="blog-video" src="https://www.youtube.com/embed/6mr4cYJ7yew">
                    </iframe>
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <img src="../../assets/images/nature.jpg" class="blog-image" alt="nature">
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <iframe class="blog-video" src="https://www.youtube.com/embed/09R8_2nJtjg">
                    </iframe>
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-container">
                    <h2 class="blog-container-heading">Standard blog post</h2>
                    <p class="blog-subheading">Prints/December 16,2021</p>
                    <img src="../../assets/images/nature.jpg" class="blog-image" alt="nature">
                    <p class="blog-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores voluptatem et ut
                        autem perspiciatis laborum eveniet nesciunt quis doloribus? Sunt Lorem ipsum dolor sit amet
                        consectetur adipisicin</p>
                    <a href="javascript:void(0);" class="blog-link">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>