<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h1 class="navbar-logo">LOGO</h1>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="header-list">
                    <li>
                        <a routerLink="/home">HOME</a>
                    </li>
                    <li>
                        <a routerLink="/blog">BLOG</a>
                    </li>
                    <li>
                        <a routerLink="/contact">CONTACT</a>
                    </li>
                    <li>
                        <a routerLink="/login">LOGIN</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 dropdown">
                <br/>
                <div ngbDropdown>
                    <button class="dropdown-toggle btn dropdown-button" id="menu" ngbDropdownToggle>
                        <img src="../../assets/images/dropdown.png" class="dropdown-image" alt="dropdown">
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu="menu">
                    <button class="dropdown-item" ngbDropdownItem routerLink="/home">HOME</button>
                    <button class="dropdown-item" ngbDropdownItem routerLink="/blog">BLOG</button>
                    <button class="dropdown-item" ngbDropdownItem routerLink="/contact">CONTACT</button>
                    <button class="dropdown-item" ngbDropdownItem routerLink="/login">LOGIN</button>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</header>