$whitecolor: white;
$blackcolor: black;
$bg-color:  rgb(83, 83, 83);
$read-more-link-bg-color: rgb(255, 130, 130);
$content-about-us-hover: rgb(116, 255, 248);
$read-more-link-hover: teal;
$bluecolor: rgb(0, 60, 255);
$greenyellow: greenyellow;
$footer-content-color: rgb(119, 119, 119);
$footer-bgcolor: rgb(44, 44, 44);
$blog-heading-color: rgb(137, 202, 39);