@import "/src/assets/mixins.scss";
@import "/src/assets/custom-colors.scss";

.login-form {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
    padding: 50px 0px 50px 0px;

    .login-details {
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .login-submit {
        background-color: $greenyellow;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        transition: all 0.3s linear 0.1s;

        &:hover {
            background-color: $blog-heading-color;
            border-radius: 20px;
        }
    }
}