<footer class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="footer-heading">LOGO</h1>
                <p class="footer-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quo corrupti
                    tempora. Ipsa eligendi repudiandae quod error, itaque odit amet commodi</p>
                <div class="footer-subcontent">
                    <img src="../../assets/images/home-icon.jpg" class="footer-icon" alt="home icon">
                    <span>568 East Grapes Lane, Las Vegas, Alaska</span>
                </div>
                <div class="footer-subcontent">
                    <img src="../../assets/images/telephone.png" class="footer-icon" alt="telephone">
                    <span>9876543210</span>
                </div>
                <div class="footer-subcontent">
                    <img src="../../assets/images/envelope.png" class="footer-icon" alt="">
                    <span>maniaryash21@gmail.com</span>
                </div>
                <div class="header-link">
                    <a class="header-link-item" href="#" routerLink="/list">Read More</a>
                </div>
            </div>

            <div class="col-lg-3">
                <h4 class="footer-heading">latest News</h4>
                <div class="footer-subcontent">
                    <img src="../../assets/images/nature.jpg" class="footer-image" alt="image-1">
                    <div>
                        <h4 class="footer-content-heading">Bari Plauche</h4>
                        <p class="footer-image-content">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
                <div class="footer-subcontent">
                    <img src="../../assets/images/nature.jpg" class="footer-image" alt="image-1">
                    <div>
                        <h5 class="footer-content-heading">Brock Arbuthnot</h5>
                        <p class="footer-image-content">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
                <div class="footer-subcontent">
                    <img src="../../assets/images/nature.jpg" class="footer-image" alt="image-1">
                    <div>
                        <h5 class="footer-content-heading">Daniel vasseur</h5>
                        <p class="footer-image-content">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <h4 class="footer-heading px-2">Item Tags</h4>
                <div class="item-tags">
                    <a href="javascript:void(0);" class="item-tag-link">beautiful</a>
                    <a href="javascript:void(0);" class="item-tag-link">flat design</a>
                    <a href="javascript:void(0);" class="item-tag-link">theme</a>
                    <a href="javascript:void(0);" class="item-tag-link">awesome</a>
                    <a href="javascript:void(0);" class="item-tag-link">infographics</a>
                    <a href="javascript:void(0);" class="item-tag-link">video</a>
                    <a href="javascript:void(0);" class="item-tag-link">music</a>
                    <a href="javascript:void(0);" class="item-tag-link">web</a>
                    <a href="javascript:void(0);" class="item-tag-link">photoshop</a>
                    <a href="javascript:void(0);" class="item-tag-link">material design</a>
                </div>
            </div>

            <div class="col-lg-3">
                <h4 class="footer-heading px-3">Newsletter</h4>
                <p class="footer-image-content">Sign for with tour email to get the latest update and offers!.</p>
                <form action="" class="footer-form">
                    <input type="text" placeholder="Your Email" required minlength="4" class="footer-form-email">
                    <input type="submit" value="Subscirbe Now" class="footer-form-button">
                </form>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="copyright">
                <div class="col-lg-6 copyright-content">
                    <pre>Copyright <img src="../../assets/images/copyright.png" alt="copyright"> 2021 logo, designed by</pre>
                </div>
                <div class="col-lg-6 footer-social-box">
                    <div class="footer-social">
                        <img src="../../assets/images/telephone.png" class="footer-icon" alt="telephone">
                        <img src="../../assets/images/telephone.png" class="footer-icon" alt="telephone">
                        <img src="../../assets/images/telephone.png" class="footer-icon" alt="telephone">
                        <img src="../../assets/images/telephone.png" class="footer-icon" alt="telephone">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
