<section class="homecarousel-wrap">
<ngb-carousel class="carouselbox"  [interval]="0">
	<ng-template ngbSlide>
		<div>
			<img src="../../assets/images/bg-image-3.jpg" loading="lazy" class="img-fluid slider-image" alt="image-1">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div>
			<img src="../../assets/images/bg-image-1.jpg" loading="lazy" class="img-fluid slider-image" alt="image-2">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div>
			<img src="../../assets/images/bg-image-4.jpg" loading="lazy" class="img-fluid slider-image" alt="image-3">
		</div>
	</ng-template>
</ngb-carousel>

</section>